[Unit]
Description=Mount and setup HMC Agent config
Requires=llm_readiness.service
After=llm_readiness.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env /bin/bash /usr/bin/hmc_config.sh
RemainAfterExit=yes
TimeoutSec=0 

StandardOutput=journal+console

[Install]
WantedBy=multi-user.target default.target
