[Unit]
Description=Mount and setup pimconfig
Before=network-online.target cloud-config.target
Wants=network-online.target cloud-config.target

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes
TimeoutSec=0 

StandardOutput=journal+console

[Install]
WantedBy=cloud-config.target
